.lang__content { color: #000 }
.lang-arrow { border: 1px solid #c7c7c7 }
.lang-arrow svg { fill: #000 }
.menu__item-link { color: #000!important }
.btn-open { background: #3200f0!important }
.btn-open span { background: #fff!important }

.section-6 { padding-top: 100px }


.section-6__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-6__text {
    text-align: center;
    margin-bottom: 50px;
}

.company-13 { background: url('../img/companies/allianz-logo.svg') center/cover no-repeat}
.company-14 { background: url('../img/companies/howden.svg') center/cover no-repeat }
.company-15 { background: url('../img/companies/logo.png') center/cover no-repeat }
.company-16 { background: url('../img/companies/logoOrient.png') center/cover no-repeat }
.company-17 { background: url('../img/companies/logovhv.png') center/cover no-repeat }
.company-18 { background: url('../img/companies/OMAN-RE.png') center/cover no-repeat }
.company-19 { background: url('../img/companies/vestto2.png') center/cover no-repeat }
.company-20 { background: url('../img/companies/polish.png') center/cover no-repeat }
.company-21 { background: url('../img/companies/selecta.png') center/cover no-repeat}
.company-22 { background: url('../img/companies/triglav.png') center/cover no-repeat }
.company-23 { background: url('../img/companies/turk.png') center/cover no-repeat }
.company-24 { background: url('../img/companies/anadolu.jpg') center/cover no-repeat }
.company-25 { background: url('../img/companies/apex.png') center/cover no-repeat }
.company-26 { background: url('../img/companies/ber.png') center/cover no-repeat }
.company-27 { background: url('../img/companies/munich-re.png') center/cover no-repeat }
.company-28 { background: url('../img/companies/vigre-logo.svg') center/cover no-repeat }
.company-29 { background: url('../img/companies/aig.png') center/cover no-repeat }
.company-30 { background: url('../img/companies/Chubb-logo.png') center/cover no-repeat }
.company-31 { background: url('../img/companies/euro.png') center/cover no-repeat }
.company-32 { background: url('../img/companies/halyk.svg') center/cover no-repeat }
.company-33 { background: url('../img/companies/hannover.svg') center/cover no-repeat }
