.my-container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 26px;
}

header {
    position: fixed;
    background: transparent;
    width: 100%;
    transition: background-color 0.4s ease,transform 0.4s linear;
    z-index: 100;
}

.header_boxShadow { background: #fff;box-shadow: 0 5px 10px 0 #3d3d3d1f }

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo img { width: 200px }


/* ------------------------------------ STYLING MENU ITEMS ---------------------------------- */
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu__item-link { position: relative }
.menu__item-link::before {
    bottom: -3px;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    transform: translate(0, -50%);
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: #2196c1;
    transition: all 0.4s ease;
    opacity: 0;
}

.menu__item a, .menu-mobile__item a {
    display: flex;
    align-items: center;
    font: 800 16px "CocoSharp";
    color: #fff;
    cursor: pointer;
    min-height: 92px;
}

.menu-mobile__item:first-of-type { position: relative }

.menu-mobile {
    background: #fff;
    margin-top: 20px!important;
    border-radius: 15px;
    padding: 20px;
}

.menu-mobile__item { display: flex }

.menu-mobile__item a {
    color: #000;
    min-height: inherit;
    font: 400 25px "CocoSharp";
    padding-bottom: 15px;
}

.menu-mobile__item svg {
    width: 6.5px;
    height: 6.5px;
    margin: 0 0 10px 5.5px;
    color: #2196c1;
    fill: currentColor;
}

.btn-request {
    background-color: #2196c1;
    font-family: "CocoSharp";
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 0.08em;
    display: inline-block;
    margin-right: 10px;
    transition: all 0.3s ease;
    font-size: 13px;
    padding: 15px 20px;
    border-radius: 8px;
    margin-left: 30px;
}

.btn-request span::after {
    content: "";
    width: 15px;
    height: 15px;
    margin-bottom: -2px !important;
    margin-left: 5px !important;
    display: inline-block;
    clip-path: polygon( 56.4% 50%, 26.4% 19.9%, 35% 11.3%, 73.6% 50%, 35% 88.7%, 26.4% 80.1%, 56.4% 50% );
    background-color: white;
    transition: all 0.3s ease;
}

.mobile-footer__icons {
    margin-top: 20px!important;
    background: #fff;
    padding: 40px 0;
    border-radius: 15px;
    margin-right: 0!important;
}

.mobile-footer__icons a {
    width: 40px!important;
    height: 40px!important;
    margin-right: 10px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-footer__icons a i { font-size: 16px!important }

.drop {
    display: none;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
}

.bir { background: red }
.iki { background: yellow }
.uc { background: #3200f0 }


/* *********** STYLING LANGUAGE SELECTOR BUTTONS **************/
.lang { position: relative }
.lang-mobile {
    position: absolute;
    right: 0;
}

.lang__content, .lang__content-mobile {
    font: 800 16px/1.32 "CocoSharp";
    color: #fff;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.lang-arrow, .lang-arrow_mobile {
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease, transform 0.1s ease;
}

.lang-arrow_mobile { border-color: #2592be }
.lang-arrow svg, .lang-arrow_mobile svg { transition: border 0.4s ease, fill 0.4s ease; width: 10px }
.lang-arrow_mobile svg { margin: 0 }
.dropdown__lang, .dropdown__lang-mobile {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: #fff;
    width: 61px;
    height: 58px;
    transform: translate(-50%,0);
    left: 50%;
    opacity: 0;
    transition: top 0.2s ease, opacity 0.2s ease;
}

.dropdown__lang a, .dropdown__lang-mobile a {
    font: 800 13px "CocoSharp";
    height: 29px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0!important;
}

.lang-az {
    border-radius: 10px 10px 0 0!important;
    background: #2593be!important;
    color: #fff!important;
}

.lang-en { color: #000!important }


/* *********** STYLING ELEMENTS OFFCANVAS **************/
.offcanvas { background: #f5f5f5 }
.offcanvas-header { border-radius: 0 0 15px 15px; background: #fff }
.offcanvas { width: 100%!important }
.offcanvas-body { padding: 0!important }

.btn-open {
    border-color: #fff!important;
    background-color: #fff;
    color: #2196c1!important;
    width: 40px!important;
    height: 40px!important;
    transition: .4s!important;
    border: 1px solid transparent!important;
    border-radius: 50%!important;
    display: none!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column;
    gap: 3px;
}

.btn-close_block {
    background-color: #2196c1;
    color: #2196c1;
    width: 40px;
    height: 40px;
    transition: .4s;
    border-radius: 50%;
}

.btn-close_block-item {
    margin: 0!important;
    padding: 16px!important;
    background: none!important;
    opacity: 1!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border: none!important;
}

.btn-close_block-item svg { opacity: 1 }

.bar {
    display: block;
    width: 10px;
    height: 1px;
    background: #2196c1;
    transition: .4s;
}

/* *********** START - STYLING ELEMENTS SECTION-1 **************/
.section-1__btn  {
    font: 800 16px "CocoSharp";
    display: flex;
    border-color: #2196c1;;
    background-color: #2196c1;
    height: 55px;
    border-radius: 8px;
    color: #fff;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
    width: 200px;
    border-radius: 30px
}

.slider {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.fa-angle-double-right {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.swiper-slide { min-height: 100vh; }
.swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(22,10,84,0) 53.5%, rgba(22,10,84,0.48) 100%),linear-gradient(180deg, rgba(22,10,84,0.64) 0%, rgba(22,10,84,0) 21.86%),linear-gradient(180deg, rgba(10,5,36,0.32) 0%, rgba(10,5,36,0) 18.44%),linear-gradient(142.64deg, rgba(10,5,36,0) 52.19%, rgba(10,5,36,0.24) 90.82%);
}

.slider-1 { background: url('../img/slider/slider1.avif') center/cover no-repeat }
.slider-2 { background: url('../img/slider/slider2.avif') center/cover no-repeat }
.slider-3 { background: url('../img/slider/slider3.avif') center/cover no-repeat }
.slider-4 { background: url('../img/slider/slider4.avif') center/cover no-repeat }
.slider-5 { background: url('../img/slider/slider1.avif') center/cover no-repeat }
.slider-6 { background: url('../img/slider/slider2.avif') center/cover no-repeat }

.swiper-slide__content {
    display: flex;
    min-height: 100vh;
    align-items: end;
    color: #fff;
    position: absolute;
    z-index: 11;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 900px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 40px;
}

.swiper-slide__inner { 
    width: 100%;
    padding: 0 20px;
}

.swiper-slide__title {
    font-family: "CocoSharp";
    line-height: 1.1;
    font-size: 65px;
    color: white;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 40px; 
}

.swiper-slide__desc {
    font: 400 22px/28px "CocoSharp";
    letter-spacing: -0.4px;
}

.my-prev-button, .my-next-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.my-prev-button svg, .my-next-button svg { transition: all 0.4s ease }

.btn-groups {
    position: absolute;
    bottom: 60px;
    z-index: 100;
    right: 20px;
    display: flex;
    gap: 8px;
}

.slider__btn {
    border-color: #3200f0;
    background-color: #3200f0;
    color: #fff;
    fill: #fff;
}

.swiper-pagination span { 
    background: #fff !important;
    opacity: 1;
    width: 8.6px;
    height: 8.6px;
}

.swiper-slide-active .swiper-slide__inner {
    animation-name: fadeInLeft;
    animation-duration: var(--animate-duration, .2s);
    animation-timing-function: var(--animate-timing, ease);
    animation-fill-mode: both;
}

.swiper__btns {
    display: flex;
    gap: 5px;
}

.animate__animated { animation-duration: 0.5; opacity: 0 }

@keyframes fadeInLeft {
    from { opacity: 0; transform: translate3d(20%, 0, 0) }
    to { opacity: 1; transform: translate3d(0, 0, 0) }
}


/* *********** START - STYLING ELEMENTS SECTION-2 **************/
.section-2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 20px;
}

.section-2__title {
    font: 800 28px/34px "CocoSharp";
    color: #222;
    text-align: center;
    padding-bottom: 30px;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    text-align: center;
    
}

.products-item { padding: 0 20px }
.products-item__title {
    font: 700 22px/28px "CocoSharp";
    color: #222;
    letter-spacing: .2px;
}

.products-item__desc {
    font-family: "CocoSharp";
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: .2px;
}

.products-item {
    position: relative;
    padding-top: 50px;
    width: 350px;
    background: #e2f4d4;
    border-radius: 15px;
    transition: all ease .4s;
}


/* *********** START - STYLING ELEMENTS SECTION-3 **************/
.section-3 {
    background: #f2f4f6;
    padding: 80px 10px;
}

.section-3__content {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 70px;
    position: relative;
}

.section-3__text {
    width: 50%;
    padding-right: 20px;
}

.section-3__title {
    font-weight: bold;
    font: 800 28px/28px "CocoSharp";
    color: #2196c1;
    margin-bottom: 20px;
}

.section-3__desc {
    font: 400 16px "CocoSharp";
    color: #000;
    line-height: 1.43;
    margin-bottom: 40px;
    overflow: hidden;
}

.section-3__btn {
    font: 800 14px/20px "CocoSharp";
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    padding: 15px 45px;
    background-color: #2196c1;
    border: 1px solid #2196c1;
    -webkit-box-shadow: 0 10px 10px -10px #2196c1;
    box-shadow: 0 10px 10px -10px #2196c1;
    -webkit-transition: 300ms all ease;
    transition: 300ms all ease;
}

.section-3__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.section-3__img img { height: 500px }

/* *********** START - STYLING ELEMENTS SECTION-4 **************/
.section-4 { padding-top: 80px }
.section-4__text {
    max-width: 980px;
    margin: 0 auto;
}

.section-4__title {
    font: 300 45px "CocoSharp";
    text-align: center;
    line-height: 100%;
    margin-bottom: 30px;
}

.section-4__desc {
    font: 400 18px "CocoSharp";
    text-align: center;
    line-height: normal;
    margin-bottom: 30px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-item {
    margin: 0 0 20px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.parent a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent span {
    font: 400 20px "CocoSharp";
    line-height: normal;
    margin-bottom: 30px;
    border-bottom: 1px solid #2196c1;
    color: #2196c1;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 1 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 3 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 4 / 1 / 5 / 2; }
.div14 { grid-area: 4 / 1 / 5 / 3; }
.div15 { grid-area: 4 / 3 / 5 / 4; }
.div16 { grid-area: 4 / 4 / 5 / 5; }

.div2__content { background: url('../img/grid-1.jpg') center/cover no-repeat }
.div3__content { background:  url('../img/grid-2.jpg') center/cover no-repeat }
.div4__content { background:  url('../img/grid-3.jpg') center/cover no-repeat }
.div5__content { background:  url('../img/grid-4.jpg') center/cover no-repeat }
.div6__content { background:  url('../img/grid-5.jpg') center/cover no-repeat }
.div8__content { background:  url('../img/grid-6.jpg') center/cover no-repeat }
.div9__content { background:  url('../img/grid-7.jpg') center/cover no-repeat }
.div10__content { background: url('../img/grid-1.jpg') center/cover no-repeat }
.div11__content { background:  url('../img/grid-2.jpg') center/cover no-repeat }
.div12__content { background:  url('../img/grid-3.jpg') center/cover no-repeat }
.div14__content { background:  url('../img/grid-6.jpg') center/cover no-repeat }
.div15__content { background:  url('../img/grid-7.jpg') center/cover no-repeat }
.div16__content { background:  url('../img/grid-3.jpg') center/cover no-repeat }



/* *********** START - STYLING ELEMENTS SECTION-5 **************/
.section-5 {
    padding: 80px 0px;
    background-color: rgb(243, 245, 249);
}

.section-5__title {
    font: 700 40px "CocoSharp";
    color: #2196c1;
    line-height: 130%;
}

.section-5__questions {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.section-5__questions-item1, .section-5__questions-item2 {
    flex: 0 0 auto;
    width: calc(50% - 12px);
}

.question-block {
    border-bottom: 1px solid rgb(234, 235, 238);
    padding: 32px 16px 16px 48px;
    position: relative;
}

.question-text {
    font: 700 20px "CocoSharp";
    color: #0b1742;
    padding-bottom: 16px;
    cursor: pointer;
}

.question-btn {
    cursor: pointer;
    position: absolute;
    top: 36px;
    left: 16px;
    width: 16px;
    height: 16px;
}

.question-btn::before {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: #2196c1;
    transform: translate(8px, 0px);
    transition: all 300ms ease-out 0s;
}

.question-btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    background-color: #2196c1;
    transform: translate(0px, -8px);
    transition: all 300ms ease-out 0s;
}

.question-drop {
    max-height: 600px;
    overflow: hidden;
    max-height: 0px;
    transition: all 300ms ease-out 0s;
    color: rgb(11, 23, 66);
    will-change: auto;
}

.question-drop__text {
    font: 400 16px "CocoSharp";
    line-height: 150%;
}


/* *********** START - STYLING ELEMENTS SECTION-6 **************/
.section-6 { min-height: 650px }

.section-6__inner {
    display: flex;
    padding: 50px 0;
}

 .section-6__text {
    float: right;
    width: 54.5208333vw;
 }
.section-6__title {
    font: 700 44px "CocoSharp";
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-6__desc {
    font: 400 18px "CocoSharp";
    padding-bottom: 10px;
}

.section-6__btn {
    font: 700 25px "CocoSharp";
    color: #0b9947;
    display: block;
    margin-bottom: 30px;
}

.companies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company-1 { background: url('../img/companies/azersigorta.png') center/cover no-repeat}
.company-2 { background: url('../img/companies/pasa.svg') center/cover no-repeat }
.company-3 { background: url('../img/companies/atasigorta.png') center/cover no-repeat }
.company-4 { background: url('../img/companies/meqa.png') center/cover no-repeat }
.company-5 { background: url('../img/companies/azre.png') center/cover no-repeat }
.company-6 { background: url('../img/companies/qalasigorta.jpg') center/cover no-repeat }
.company-7 { background: url('../img/companies/pasasig.png') center/cover no-repeat }
.company-8 { background: url('../img/companies/xalqsigorta.svg') center/cover no-repeat }
.company-9 { background: url('../img/companies/Atəşgah_sığorta_loqo.jpg') center/cover no-repeat }
.company-10 { background: url('../img/companies/bakisgorta.png') center/cover no-repeat }
.company-11 { background: url('../img/companies/meqasigorta.svg') center/cover no-repeat }
.company-12 { background: url('../img/companies/qala-hayat.png') center/cover no-repeat }

.section-6 .company-link {
    display: block;
    width: 215px;
    background: url('../img/brands-bg.png') no-repeat bottom center;
    overflow: hidden;
    display: inline-block;
    margin: -23px -30px
}

.section-6 .company-link span {
    background-size: 55%;
    height: 207px;
    width: 215px;;
    display: inline-block;
}


/* *********** START - STYLING ELEMENTS SECTION-7 **************/
.section-7 {
    padding: 75px 0;
    background-color: #0b9947;
}

.fa-arrow-up {
    color: #000;
    transform: rotate(45deg);
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    transition: 300ms
}

.section-7__title {
    font: 600 38px "CocoSharp";
    color: #fff;
    padding-right: 20px;
    margin-bottom: 0;
}

.action-btn { transition: 300ms }

.buttons {
    display: flex;
    align-items: end;
}

.buttons .action-btn:first-child {
    background-color: #fff;
    margin-top: 40px;
    margin-right: 15px;
    display: block;
    min-width: 250px;
    min-height: 150px;
    padding: 32px;
    border-radius: 10px;
    transition: 300ms
}

.buttons .action-btn:last-child {
    background-color: transparent;
    margin-top: 40px;
    margin-right: 15px;
    display: block;
    min-width: 260px;
    min-height: 190px;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: 300ms
}

.buttons .action-btn span {
    font: 600 25px "CocoSharp";
    display: block;
    margin-bottom: 18px;
    color: #323232;
    transition: 300ms
}

.buttons .action-btn:last-child span { color: #fff }
.buttons .action-btn:last-child i { color: #fff  }


/* *********** START - STYLING ELEMENTS SECTION-8 **************/
.section-8 {
    padding-top: 70px;
    padding-bottom: 50px;
}

.section-8__title {
    letter-spacing: -0.02em !important;
    font-weight: 700 !important;
    padding-bottom: 25px;
    font-family: "CocoSharp";
    font-size: 35px;
}

.img-container {
    overflow: hidden!important;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 222px!important;
    margin-bottom: 35px;
}

.img-container img {
    transition: all 0.3s ease-in-out;
    max-height: 222px;
    border-radius: 10px;
    object-fit: cover;
    transform: scale(1);
    margin-bottom: 35px;
}

.details {
    margin: 0;
    line-height: 22px;
    margin: 0 0 5px;
    color: rgb(18, 20, 22);
    font-size: 20px;
    font-weight: 600;
    font-family: "CocoSharp";
}


/* *********** START - STYLING ELEMENTS FOOTER **************/
footer { padding: 50px 0 0 0 }

.footer__top-item {
    display: flex;
    flex-direction: column;
}

.footer__top-item h3 {
    color: #000;
    font: bold 16px "CocoSharp";
    margin: 20px 0 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.footer__top-item a {
    color: rgba(0, 0, 0, 0.5);
    font: 400 14px/1.25 "CocoSharp";
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    display: block;
    margin-bottom: 15px;
}

.footer__icons { margin-bottom: 70px }

.footer__icons {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icons a {
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 0 26px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.footer__icons a::after {
    background: #0077B5;
    content: "";
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    position: absolute;
    transition: 0.5s;
}

.footer__icons a i {
    display: block;
    color: #000;
    font-size: 25px;
    line-height: 70px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.footer__bottom {
    border-top: 1px solid #ededed;
    padding: 16px 0;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer__menu li {
    margin-right: 20px;
}

.footer__menu li a {
    color: #00000080;
    font: 400 16px/1.25 "CocoSharp";
    transition: 0.3s ease-out;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.copyright span, .copyright p {
    color: rgba(0, 0, 0, 0.5);
    font: 400 14px "CocoSharp";
    letter-spacing: 0.1px;
}


/* ************************************* HOVER EFFECTS ****************************************/
.menu__item:hover .drop { display: block }
.btn-request:hover span::after{
    transform: translateX(4px);
    clip-path: polygon( 74.1% 44.2%, 43.1% 13.2%, 51.3% 5%, 96.3% 50%, 51.3% 95%, 43.1% 86.8%, 74.1% 55.8%, 3.7% 55.8%, 3.7% 44.2%, 74.1% 44.2% );
}
.btn-request:hover { background: #5fb3d3 }

/******************************************************************************/
.btn-open:hover { background: #2196c1!important }
.btn-open:hover .bar { background: #fff }

/******************************************************************************/
.section-1__btn:hover { box-shadow: 0 0 30px #2196c1 }

/******************************************************************************/
.lang__content:hover .lang-arrow, .lang__content-mobile:hover .lang-arrow_mobile { border: 1px solid #2592be }

/******************************************************************************/
.parent a:hover div { box-shadow: 0 0 25px rgba(127,176,210,.5) }
.parent a:hover {
    color: #a2aeb9;
    border-bottom-color: #a2aeb9;
    transition: all .3s;
}

/******************************************************************************/
.buttons .action-btn:first-child:hover span, .buttons .action-btn:last-child:hover span { color: #0b9947}
.buttons .action-btn:first-child:hover i, .buttons .action-btn:last-child:hover i{ color: #0b9947 }
.buttons .action-btn:first-child:hover {  
    box-shadow: 0 10px 22px 0 rgba(41, 44, 50, 0.1);
    transform: translate(0px, -4px);
}

.buttons .action-btn:hover {  
    box-shadow: 0 10px 22px 0 rgba(41, 44, 50, 0.1);
    transform: translate(0px, -4px);
    background: #fff;
}

/******************************************************************************/
.products-item:hover {  transform: scale(.9); }
.img-container img:hover { transform: scale(1.1) }

/******************************************************************************/
.section-3__btn:hover {
    background-color: #fff;
    color: #2196c1;
}

/******************************************************************************/
.section-6 .company-link:hover { background: url('../img/brands-bg.png') no-repeat top center }

/******************************************************************************/
.footer__top-item a:hover, .footer__icons i:hover, .footer__menu li a:hover  { color: #000 }
.footer__icons a:hover { transform: translateY(-10px) }
.footer__icons a:hover::after { top: 0 }


/************************************** CLASSES ADDED THROUGH JS ****************************************/
.linkHoverStyle::before { opacity: 1 }
.textHoverColorLinks { color: #333!important }
.textHoverColorLinks .lang__content, .lang__content-mobile { color: #333!important }

.textHoverColorLinks2 { color: #333!important  }
.textHoverColorLinks2 span { color: #333!important  }

.headerHoverBackg { background: #fff; box-shadow: 0 5px 10px 0 #3d3d3d1f; }
.headerHoverBackg2 { background: #fff!important; box-shadow: 0 5px 10px 0 #3d3d3d1f; }
.animationDrowLang { top: 50px; opacity: 1 }
.animationArrowLang  { transform: rotate(180deg); background: #fff }
.animationArrowLang svg { fill: #000!important }
.borderHoverLang { border: 1px solid #c7c7c7!important }
.borderHoverLang2 {  border: 1px solid #c7c7c7!important }
.borderHoverLang2 svg { fill: #000!important }
.borderHoverLang svg { fill: #000!important }
.btnOpenHover { background-color: #2196c1!important }
.btnOpenHover .bar { background: #fff }

.question-active { max-height: 600px!important }
.question-active__btn::after { transform: translate(0.5px, -8px) rotate(-45deg)!important }
.question-active__btn::before { transform: translate(8px, 0.5px) rotate(135deg)!important }

@media only screen and (max-width: 1100px) {
    .menu { gap: 10px }
    .logo img { width: 170px }
    .menu__item a { font-size: 14px }
    
    .btn-request {
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
        padding: 20px 5px;
    }
}

@media only screen and (max-width: 990px) {
    

    .menu, .lang { display: none }
    .header__navbar { padding: 16px }
    .btn-open { display: flex!important }

    .section-3__content { padding: 70px 30px }
    .section-3__img img { height: 400px }
    .grid-item { height: 300px }

    .section-5__questions { display: block }
    .section-5__questions-item1, .section-5__questions-item2 { width: 100% }

    .section-6__inner { flex-direction: column }
    .section-6__text { width: 100% }
}

@media only screen and (max-width: 900px) {
    

    .btn-groups {
        display: flex;
        gap: 8px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .btn_whatsapp { bottom: 180px }
    .my-prev-button, .my-next-button { width: 35px; height: 35px }
    .my-prev-button svg, .my-next-button svg { width: 15px }
    .swiper-slide__inner { width: 100% }

    .swiper-slide__title { font: 800 40px "CocoSharp"; }
    .swiper-slide__desc { font: 800 16px/23px "CocoSharp" }
    .my-prev-button, .my-next-button { width: 55px; height: 55px }

    .section-1__btn {
        width: 190px;
        height: 55px;
        padding: 20px;
    }

}

@media only screen and (max-width: 768px) {

    .products { flex-direction: column; align-items: center }
    .products-item { width: 100% }

    .section-2 {  padding: 50px 20px }

    .section-3__content { display: block; padding: 40px 30px 170px }
    .section-3__text { width: 100%; padding: 0 }
    .section-3__img img { height: 300px }

    .section-4__title { font-size: 30px }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
        
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 1 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 4 / 1 / 5 / 2; }
    .div8 { grid-area: 4 / 1 / 5 / 3; }
    .div9 { grid-area: 5 / 1 / 6 / 2; }
    .div10 { grid-area: 5 / 2 / 6 / 3; }
    .div11 { grid-area: 6 / 1 / 7 / 2; }
    .div12 { grid-area: 6 / 2 / 7 / 3; }
    .div13 { grid-area: 7 / 1 / 8 / 2; }
    .div14 { grid-area: 7 / 1 / 8 / 3; }
    .div15 { grid-area: 8 / 1 / 9 / 2; }
    .div16 { grid-area: 8 / 2 / 9 / 3; }

    .grid-item { height: 200px }

    .section-6 span { background-size: 65% }
    
}

@media only screen and (max-width: 600px) {
    
    .swiper-slide__title {
        font: 800 30px "CocoSharp";
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons .action-btn {
        min-width: inherit;
        width: 100%;
        margin-right: inherit!important;
        min-height: inherit!important;
    }

    .section-7__title { font-size: 30px; text-align: center; }
}

@media only screen and (max-width: 500px) {

    .section-3__content { padding: 20px 30px 74px }
    .section-3__desc { margin-bottom: 30px }
    .section-3__img img { height: 160px }

    .section-6 span { width: 50% }
    .section-6__inner { padding: 30px 0 }

    .footer__icons a {
        width: 50px;
        height: 50px;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
